---
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllPagesWithSlugs, getMenu } from "../../lib/api";

import Tabs from "../../components/Tabs/Tabs.astro";

import showdown from "showdown";
const converter = new showdown.Converter();

export async function getStaticPaths() {
  const pages = await getMenu();

  const components = pages[0].attributes.items.data;

  return components.reduce((acc, component) => {
    const list = [...acc];
    list.push({
      params: { slug: component.attributes.title, subdir: "demo" },
      props: { component },
    });

    list.push({
      params: { slug: component.attributes.title, subdir: "design" },
      props: { component },
    });
    return list;
  }, []);

  // const pagesWithSlugs = await getAllPagesWithSlugs();
  // return pagesWithSlugs.reduce((acc, component) => {
  //   const list = [...acc];
  //   list.push({
  //     params: { slug: component.attributes.Page.title, subdir: "demo" },
  //     props: { component },
  //   });

  //   list.push({
  //     params: { slug: component.attributes.Page.title, subdir: "design" },
  //     props: { component },
  //   });
  //   return list;
  // }, []);
}

const { component } = Astro.props;
const { attributes } = component;

console.log(attributes);

const { subdir } = Astro.params;

const frontmatter = {
  title: attributes.title,
};

const allTabs = ["demo", "design"];
const headings = [];
---

<MainLayout {frontmatter} {headings}>
  <Tabs {allTabs} active={subdir} {component} />
  <article style="white-space: pre-line;">
    <Fragment set:html={converter.makeHtml(attributes[subdir])} />
  </article>
  <a href={attributes.url}>Go to component</a>
  <iframe
    class="fullHeight"
    src={attributes.custom_field}
    width="100%"
    frameborder="0"></iframe>
</MainLayout>

<style>
  .fullHeight {
    height: 100vh;
  }
</style>
